<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        nav ul li {

            list-style: none;
            font-family: sans-serif;
            padding: 15px;
            color: white;
            


        }

        nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav {
            background-color: skyblue;
            box-shadow: 5px 3px 5px 0px grey;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="./profile">Profile</a></li>
                <li><a href="./media">Media</a></s></li>
                <li><a href="./posts">Posts</a></li>
                <li><a href="./likes">Likes</a></li>
                <li><a href="./Reels">Reels</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="D one"></div>
        <div class="D two"></div>
        <div class="D three"></div>
    </div>
</body>

</html>